<app-profile [extended]="true"></app-profile>

<div>
  <h2>All</h2>
  <div
    id="items"
    cdkDropList
    fxLayout="row"
    class="bg-light"
    cdkDropListOrientation="horizontal"
    [cdkDropListConnectedTo]="['weapon', 'chest', 'helmet']"
  >
    <div
      class="example-box"
      *ngFor="let item of all"
      [cdkDragData]="item"
      cdkDrag
    >
      <mat-card *ngIf="(characterService.selectedCharacter$ | async)?.getEquipment(item.part)?._id !== item._id"
                (click)="openDialog(item)">
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <img style="width: 70px; height: 70px" [src]="'src/assets/icons/' + item.icon" [alt]="item.name">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <div *cdkDragPreview>
          <app-item [actions]="false" [item]="item"></app-item>
        </div>

      </mat-card>
    </div>

  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <div>
    <div
      id="weapon"
      fxLayout="column"
      cdkDropList
      class="bg-light"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="equipDrag($event)"
      [cdkDropListEnterPredicate]="weaponPredicate">
      <h2>Weapon</h2>
      <app-item [item]="weapon"></app-item>
    </div>
  </div>
  <div>
    <div
      id="chest"
      fxLayout="column"
      cdkDropList
      class="bg-light"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="equipDrag($event)"
      [cdkDropListEnterPredicate]="isChest">
      <h2>Chest</h2>
      <app-item [item]="chest"></app-item>
    </div>
  </div>
  <div>
    <h2>Helmet</h2>
    <div
      id="helmet"
      fxLayout="column"
      cdkDropList
      cdkDropListOrientation="horizontal"
      class="bg-light"
      (cdkDropListDropped)="equipDrag($event)"
      [cdkDropListEnterPredicate]="isHelmet">
    </div>
  </div>
</div>

