<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" class="bg-dark">

  <div class="bg-light">
    <virtual-scroller #scroll [items]="5" style="height: 300px; width: 400px" *ngIf="!duel || duel?.isOver">
      <div *ngFor="let character of characters | async">
        <div *ngIf="(selectedCharacter$ | async)?._id !== character?._id">
          {{character.name}} <button (click)="startFight(character._id)">Fight</button>
        </div>
      </div>
    </virtual-scroller>
  </div>

  <div  (window:resize)="adjustCanvasSize()"  #pixiContainer></div>

  <div>
  </div>

</div>
