<blockquote class="blockquote bq-primary">
  <div fxLayout="column" fxLayoutAlign="start center">
  <p class="bq-title">Characters</p>
  <div *ngIf="(characterService.selectedCharacter$ | async) as character">
    <span class="mat-h4">Selected character: </span><span class="mat-body-strong">{{ character.name }}</span>
  </div>
  <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect (click)="openDialog()">Create character</button>
  </div>
</blockquote>


<mat-grid-list [cols]="(isMobile) ? 1 : 4"  rowHeight="1:1.4" gutterSize="1rem">
  <mat-grid-tile *ngFor="let character of (characterService.characters$ | async); index as i">

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <h4>{{ character.name }}</h4>
        </mdb-card-title>
        level: {{ character.level }}
        STA: {{ character.sta }}
        STR: {{ character.str }}
        DEX: {{ character.dex }}
        CON: {{ character.con }}
      </mdb-card-body>
      <mdb-card-footer>
        <button mdbBtn color="primary" (click)="selectCharacter(character)" mdbWavesEffect>Select</button>
      </mdb-card-footer>
    </mdb-card>
    <!-- Card -->
  </mat-grid-tile>
</mat-grid-list>

